/* .fc-scrollgrid-sync-inner a {
    color: black !important;
    text-decoration: none !important;
} */

.fc--button {
    display: none !important;
}
.fc-timeGridWeek-button {
    background: #2c3e50;
}
.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.fc-timegrid-slots tr {
    height: 50px;
}
