.title {
    display: flex;
    flex-direction: row;
    border-left-color: #ffc000;
    position: relative;
    min-height: 170px;
    background-color: rgb(235, 235, 235);
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: rgb(0, 0, 0, 0.5) 2px solid;
    color: black;

    img {
        width: 265px;
        height: 140px;
        margin-right: 20px;

        object-fit: cover;
    }

    .info {
        width: calc(100% - 285px);

        h3 {
            font-size: 1.6rem;
            // padding: 0 17px;
            text-decoration: none;
        }

        .summary {
            line-height: 4vh;

            display: inline-block;
            width: 100%;
            font-size: 16px;
            color: #747272;
            max-height: 88px;
            overflow: hidden;
            word-wrap: break-word;
            white-space: normal;
        }
    }

    .meta {
        position: absolute;
        z-index: 1;
        bottom: 16px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 300px;
        padding: 0 20px;
        box-sizing: border-box;

        .date {
            color: #5e5c5c;
            display: inline-block;
        }

        .type {
            width: auto;
            text-decoration: none;
            cursor: pointer;
            margin-left: 56px;
            color: rgb(20, 20, 20);
        }
    }
}