.about__container {
    .background {
        background: url(../../assets/img/t1.jpg);
    }

    .content {
        margin-top: 10vh;
        padding: 0;
        position: relative;

        .front__content {
            position: relative;
            display: grid;
            grid-template-columns: 63% 37%;
            left: 0px;
            height: 90vh;

            .form {
                background-color: rgb(248, 246, 246);
                height: 80vh;
                z-index: 10;
                margin-left: 10vw;

                .up__line {
                    margin: 3vh 0 0 2vw;

                    h2 {
                        font-weight: bolder;
                        font-size: 2.5rem;
                    }
                }

                .bottom__line {
                    margin: 2vh 0 0 2vw;

                    p {
                        color: rgb(111, 111, 111);
                        font-size: 16px;
                    }
                }

                form {

                    .row1 {
                        display: flex;
                        justify-content: space-around;
                        margin: 5vh 0;
                        column-gap: -1vw;

                        input {
                            border: none;
                            outline: none;
                            height: 7vh;
                            width: 24vw;
                            padding: 3vh;
                        }

                        input:focus {
                            border: 1px solid rgb(248, 191, 2);
                            transition: 0.2s ease-in-out;
                        }



                    }

                    .row2 {
                        display: flex;
                        justify-content: center;

                        textarea {
                            border: none;
                            outline: none;
                            width: 50vw;
                            height: 18vh;
                            padding: 3vh;
                        }

                        textarea:focus {
                            border: 1px solid rgb(248, 191, 2);
                            transition: 0.2s ease-in-out;
                        }

                    }

                    .checkbox {
                        font-size: 2.2vh;
                        font-style: italic;
                        color: rgb(134, 134, 134);
                        margin: 4vh 0 0 2vh;

                        label {
                            input {
                                margin-left: 0.5vw;
                            }
                        }
                    }

                    .button {
                        display: flex;
                        justify-content: center;
                        margin-top: 4vh;

                        button {
                            background-color: rgb(248, 191, 2);
                            color: rgb(18, 4, 47);
                            height: 7vh;
                            width: 46vw;
                            border: none;
                            border-radius: 4.25vh;
                            cursor: pointer;
                            transition: opacity 0.15s;
                            font-weight: bold;
                            font-size: 1.1vw;
                            transition: background-color 0.35s,
                                color 0.35s;
                        }

                        button:hover {
                            background-color: rgb(18, 4, 47);
                            color: white;
                        }

                    }

                }
            }

            .info {
                background-color: white;
                height: 72%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: start;

                div {
                    display: flex;
                    height: 22vh;
                    margin-top: 1vh;

                    .icon {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 10vh;
                            width: 5vw;
                            padding: 0;
                            margin: 10px;
                            background-color: rgb(248, 191, 2);

                            svg {
                                min-width: 40px;
                                height: 5vh;

                            }
                        }

                    }

                    .text {
                        display: block;
                        margin-top: 2vh;

                        h1 {
                            font-size: 2rem;
                            font-weight: 600;
                            margin-right: 3vw;
                        }

                        p {
                            font-size: 1.4rem;
                            color: rgb(145, 145, 145);
                            margin-left: 1vw;
                        }
                    }
                }
            }

            .down__content {
                z-index: 0;
                position: absolute;
                height: 100vh;
                width: 100%;
                margin: 0px;
            }
        }
    }
}