.about__container {
    .background {
        background: url(../../assets/img/t1.jpg);
    }

    .content {
        margin-top: 100px;
        margin-bottom: 50vh;
        padding: 0;
        position: relative;

        .front__content {
            display: grid;
            grid-template-columns: 63% 37%;
            left: 0px;
            height: 600px;

            .form {
                background-color: rgb(248, 246, 246);
                height: 100%;
                z-index: 10;
                margin-left: 80px;

                .up__line {
                    margin: 50px 0 0 35px;

                    h2 {
                        font-weight: bolder;
                        font-size: 27px;
                    }
                }

                .bottom__line {
                    margin: 25px 0 0 35px;

                    p {
                        color: rgb(111, 111, 111);
                        font-size: 16px;
                    }
                }

                form {
                    .row1 {
                        display: flex;
                        justify-content: space-around;
                        margin: 5vh 0;
                        column-gap: -1vw;

                        input {
                            border: none;
                            outline: none;
                            // width: 150%;
                            height: 7vh;
                            width: 24vw;
                        }

                        input::placeholder {
                            padding: 20px;
                        }



                    }

                    .row2 {
                        display: flex;
                        justify-content: center;

                        textarea {
                            border: none;
                            outline: none;
                            width: 52.2vw;
                            height: 18vh;
                        }

                        textarea::placeholder {
                            padding: 20px;
                        }
                    }

                    .checkbox {
                        font-size: 2.2vh;
                        font-style: italic;
                        color: rgb(134, 134, 134);
                        margin: 4vh 0 0 5vh;

                        label {
                            input {
                                margin-left: 2vw;
                            }
                        }
                    }


                }
            }

            .info {
                background-color: white;
                height: 70%;
            }
        }

        .down__content {
            z-index: 0;
            position: absolute;
            height: 600px;
            width: 100%;
            margin: 0px;
            top: 420px;

            // touch-action: pan-x pan-y;
            .map {
                // background-color: lightgreen;
                height: 100%;
            }
        }
    }
}