.habitat__container {

    .bg__container {
        position: relative;

        .bg__img {
            width: 100%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .content {
            position: absolute;
            bottom: 5%;
            text-align: center;
            width: 100%;
            z-index: 2;
        }
    }



    // .habitat {
    //     margin-top: 4vh;
    // }

    // .main__content {
    //     margin-top: 4vh;
    // }

}