.habitat__container {

    .bg__container {
        position: relative;

        .bg__img {
            width: 100%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .content {
            position: absolute;
            bottom: 5%;
            text-align: center;
            width: 100%;
            z-index: 2;
        }
    }

    .habitat {
        position: relative;
        column-count: 2;
        column-gap: 0;


        .habitat__list {
            position: relative;
            height: 36vh;
            max-width: 100%;
            cursor: pointer;


            .habitat__item {
                position: absolute;
                background: no-repeat;
                background-size: cover;
                transition: all 0.6s;
                width: 100%;
                height: 100%;
            }

            .habitat__title {
                position: absolute;
                z-index: 3;
                font-size: 4.7vw;
                color: #fff;
                line-height: 36vh;
                width: 100%;
                height: 15vh;
                text-align: center;
                z-index: 100;
                transition: all 0.6s;
            }

            .habitat__title:hover {
                font-size: 6.5vw;
            }
        }



        .habitat__list:hover .habitat__item {
            transform: scale(1.1);
            border: 4px solid white;
            z-index: 10;
        }
    }

    .main__content {
        margin-top: 4vh;
    }

}