.title {
    display: flex;
    justify-content: left;
    margin: 5vh 0 0 8w;
    padding: 0;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        padding-left: 10px;
        border-left: 7px solid rgb(248, 191, 2);
        border-radius: 2px;
    }
}