.footer {
    margin-top: 220px;
}
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #3b2525;
}
.background-img {
    width: 100%;
    height: 220px;
    text-align: center;
}
.background-img img {
    width: 1519.2px!important;
}
.text-right {
    text-align: right;
}
.text {
    line-height: 30px;
    border-bottom: solid 1px #513333;
    padding-top: 0px;
    margin-top: 0px;
    border-top-width: 0px;
    padding-bottom: 30px;
    margin-right: 52px;
    color: #9799a4;
    line-height: 25px;
}
.logo {
    margin-bottom: 20px;
}
.social {
    padding-top: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.left img {
    max-height: 60px;
}
.viewmap {
    text-align: center;
    border-bottom: #513333 solid 0.1px;
}
.viewmapbutton {
    padding: 13px 30px 13px 30px;
    display: inline-block;
    background-color: var(--primary);
    font-size: 14px;
    line-height: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.viewmapbutton span {
    padding-left: 8px;
}
.column {
    line-height: 30px;
    padding: 70px 15px 35px 15px !important;
}
.column-title {
    line-height: 50px;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 24px;
}
.column-title li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #dddee1;
    padding-bottom: 2px;
    transition: color 0.2s ease-in;
}
.footer-list {
    margin-bottom: 14px;
    display: grid;
    justify-content: start;
}

.footer-icon {
    padding-left: 20px;
    font-size: 16px;
}
.footer-list-text a {
    text-decoration: none;
    color: #dddee1;
    transition: color 0.2s ease-in;
}
.recent-posts {
    display: flex;
    padding: 16px 0px;
}
.recent-posts1 {
    border-bottom: solid 1px #513333;
}
.recent-posts1 > .recent-posts-img {
    background: url('../../../../assets/img/recent-post1.jpg') no-repeat;
    background-size: cover;
}
.recent-posts2 > .recent-posts-img {
    background: url('../../../../assets/img/recent-post2.jpg') no-repeat;
    background-size: cover;
}

.recent-posts-img {
    width: 100px;
    height: 90px;
    margin-right: 18px;
}

.recent-title {
    text-decoration: none;
    color: #dddee1;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 600;
    transition: color 0.2s ease-in;
}
.recent-date {
    color: #afb2b9;
    font-size: 13px;
}
.recent-date > span {
    padding-right: 8px;
    color: var(--primary);
}
.row {
    margin: 0px 110px !important;
    padding: 0px 15px !important;
}
.copy-right {
    padding: 20px 15px;
}
.authorize {
    margin: 0px 124px;
    padding: 0px 15px;
}
.copy-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right {
    display: flex;
}
.copy-right-text {
    padding-right: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #afb2b9;
}
.copy-right-text a {
    text-decoration: none;
    color: #dddee1;
}

.footer-right .copy-right-text {
    display: flex;
    align-items: center;
}

.copy-button {
    margin-right: 8px;
    margin-left: 6px;
    border-right: solid 0.8px #afb2b9;
    height: 13px;
}
.line {
    width: 100%;
    height: 1px;
    position: relative;
}
.line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary);
    z-index: -1;
    transition: width 0.2s ease-in;
}
.footer-list:hover .line:before {
    width: 100%;
    z-index: 1;
}
.footer-list-text:hover a {
    color: var(--primary);
}
.footer-icon:hover {
    color: var(--primary);
}
.viewmapbutton:hover {
    background-color: #fff;
    color: var(--primary);
}
.copy-right-text a:hover {
    color: var(--primary);
}
.recent-title:hover {
    color: var(--primary);
}
