// // .container{
// //     position: relative;
// //     padding: 0;
// //     // background-color: #3b2525;
// //     img{
// //         width: 100%;
// //         height: auto;
// //         // padding-bottom: 100px;
// //         z-index: -1;
// //     }
// //     .row{
// //         display: flex;
// //         color: #fff;
// //         position: absolute;
// //         bottom: 200px;

// //         .column{
// //             width: 50%;
// //         }

// //         .authorize{
// //             width: 50%;
// //             display: flex;

// //             .copy_right{
// //                 color: #ffffff;
// //                 display: flex;
// //             }
// //         }
// //     }

// // }

// .container {
//     bottom: 0;
//     width: 100%;
//     background-color: #3b2525;
//     margin-top: 135px;

//     .background {
//         width: 100%;
//         position: relative;
//         bottom: 123px;

//         img {
//             width: 100%;
//         }
//     }
//     .logo {
//         background: url(../../../../assets/img/logo-final.svg);
//     }
// }
