.animal_profile {
    position: absolute;
    width: 80vw;
    height: 75vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .animal_info {
        position: absolute;
        color: white;
        left: 10vw;
        top: 9vw;
        bottom: 0;
        margin: auto;

        .title {
            font-size: 4vw;
            font-weight: bold;
            text-shadow: 10px 20px 40px black;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 2px;
        }

        .content {
            margin-top: 1vw;
            font-size: 2vw;
            font-weight: normal;
            text-shadow: 10px 20px 40px black;
            line-height: 3vw;
            max-width: 35vw;
            -webkit-text-stroke: 0.2px black;
        }
    }

    .animal_picture {
        position: absolute;
        width: 25vw;
        height: 25vw;
        right: 9vw;
        top: 4vw;
        bottom: 0;
        margin: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 10px solid rgb(0, 0, 0, 0.5);
            border-radius: 5%;
        }
    }
}