.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    // background-color: rgba(59, 37, 37, 0.93);
    background-color: rgba(0, 0, 0, 0.73) !important;
    z-index: 1000000000;
    height: 66px;

}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 45px;
        margin-left: 100px;
    }
}




.navwrap {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: flex-end;

    .navbar {
        margin-right: 30px;
        height: 66px;
        display: flex;
        align-items: center;

        .line {

            position: absolute;
            z-index: 1;
            transition: all 0.2s ease-in-out;
            /* Added transition for smooth movement */
            background-color: #ffd036;
            height: 5px;
            top: 0px;
        }


        .active {
            text-shadow: 0 0 10px #ffd036, 0 0 20px #ffd036, 0 0 40px #ffd036;
            color: white;
            font-weight: bold;
        }

        .item_0,
        .item_1,
        .item_2,
        .item_3,
        .item_4 {
            color: #ffd036;
        }

        .navitem_container.active.item_1+.line {
            left: 50%
        }

        .navitem_container {
            // margin-left: 40px;
            // margin-right: 40px;
            width: 7.95vw;
            height: 7.1vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .navitem {
                color: rgb(221, 221, 221);
                text-decoration: none;
                font-weight: normal;

                span {
                    margin-right: 10px;
                }

                .dropdown {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 66px;
                    right: 25vw;
                    width: 14vw;
                    transition: all 0.2s ease-in;
                    border-radius: 1px;

                    .dropdown_item_container {
                        height: 63px;
                        align-items: center;
                        padding-top: 22px;
                        padding-left: 22px;
                        background-color: rgba(206, 146, 42, 0.9);
                        border-top: black 1px solid;

                        .dropdown_item {
                            left: 10px;
                            color: rgb(221, 221, 221);
                            text-decoration: none;
                            font-weight: normal;
                        }
                    }

                    .dropdown_item_container:hover {
                        background-color: rgba(255, 180, 50, 0.93);

                        .dropdown_item {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .navitem_container:hover {

            .dropdown {
                visibility: visible;
                opacity: 1;
                transition: all 0.2s ease-in;
            }

            .navitem {
                text-shadow: 0 0 10px #ffd036, 0 0 20px #ffd036, 0 0 40px #ffd036;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.login {
    width: 15%;
    background-color: orange;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginUser {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        letter-spacing: 2px;

        ul {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;
            width: 100%;
            transition: all 0.2s;
            display: none;
            opacity: 0;
            height: 100%;

            li {
                list-style: none;
                padding: 16px 0px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.73);
                color: white;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: white;

                }
            }

            li:hover {
                background-color: rgba(0, 0, 0, 0.95);
            }
        }
    }

    .loginUser:hover ul {
        display: block;
        opacity: 1;
    }

    .loginitem {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profileItem {
        color: white;
        font-size: 1.5rem;
        position: absolute;
        width: 100%;
        height: 60px;

        li {
            width: 100%;
            height: 60px;
            position: absolute;
            top: 150%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.73) !important;
            list-style: none;
            top: 105%;
            left: 0;
        }
    }
}

.login:hover {
    background-color: rgb(202, 131, 0);

    .loginitem {
        color: rgb(180, 180, 180);
    }
}

* {
    user-select: none;
}