.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    // background-color: rgba(59, 37, 37, 0.93);
    background-color: rgba(59, 37, 37, 0.73) !important;
    z-index: 1000;
    height: 66px;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 45px;
        margin-left: 100px;
    }
}




.navwrap {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: flex-end;

    .navbar {
        margin-right: 30px;
        height: 66px;
        display: flex;
        align-items: center;

        .line {

            position: absolute;
            z-index: 1;
            transition: all 0.2s ease-in-out;
            /* Added transition for smooth movement */
            background-color: #ffd036;
            height: 5px;
            top: 0px;
        }


        .active {
            text-shadow: 0 0 10px #ffd036, 0 0 20px #ffd036, 0 0 40px #ffd036;
            color: white;
            font-weight: bold;
        }

        .item_0,
        .item_1,
        .item_2,
        .item_3,
        .item_4 {
            color: #ffd036;
        }

        .navitem_container.active.item_1+.line {
            left: 50%
        }

        .navitem_container {
            // margin-left: 40px;
            // margin-right: 40px;
            width: 120px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;

            .navitem {
                color: rgb(221, 221, 221);
                text-decoration: none;
                font-weight: normal;

                span {
                    margin-right: 10px;
                }

                .dropdown {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 66px;
                    right: 383px;
                    width: 14vw;
                    transition: all 0.2s ease-in;
                    border-radius: 1px;

                    .dropdown_item_container {
                        height: 63px;
                        align-items: center;
                        padding-top: 22px;
                        padding-left: 22px;
                        background-color: rgba(206, 146, 42, 0.9);
                        border-top: black 1px solid;

                        .dropdown_item {
                            left: 10px;
                            color: rgb(221, 221, 221);
                            text-decoration: none;
                            font-weight: normal;
                        }
                    }

                    .dropdown_item_container:hover {
                        background-color: rgba(255, 180, 50, 0.93);

                        .dropdown_item {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .navitem_container:hover {

            .dropdown {
                visibility: visible;
                opacity: 1;
                transition: all 0.2s ease-in;
            }

            .navitem {
                text-shadow: 0 0 10px #ffd036, 0 0 20px #ffd036, 0 0 40px #ffd036;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.login {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    background-color: orange;
    font-weight: bold;
    letter-spacing: 4px;

    .loginitem {
        color: white;
        text-decoration: none;
        padding: 10%;
        padding-right: 30%;
        padding-left: 30%;
    }
}

.login:hover {
    background-color: rgb(202, 131, 0);

    .loginitem {
        color: rgb(180, 180, 180);
    }
}

header {
    user-select: none;
}