.sidebar {
    height: 100vh;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 0;



    .sideitem {
        width: 100%;
        height: 54px;
        line-height: 54px;
        font-size: 18px;
        color: #fff;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding-left: 3vw;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        list-style: none;
        border-top: #fff 0.2px solid;
        border-bottom: #fff 0.2px solid;
        background-color: rgb(255, 255, 255, 0.1);

        .habitats {
            display: inline-block;
            width: 75%;
            height: 100%;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            font-size: larger;
        }
    }
}