.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: white;
        width: 27%;
        height: 65%;
        position: relative;
        padding: 15px;
        border-radius: 10px;

        .close {
            position: absolute;
            line-height: 0;
            top: 10px;
            right: 10px;
            padding: 5px;
        }

        .close:hover {
            background-color: rgba(170, 170, 170, 0.355);
            border-radius: 5px;
            cursor: pointer;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .title {
                        margin-left: 5px;
                        font-size: large;
                    }
                }

                .input {
                    width: 360px;
                    height: 50px;
                    border-radius: 15px;
                    margin-top: 10px;
                    padding-left: 15px;
                    font-size: large;
                }
            }
        }
    }
}
.open {
    display: flex;
}
h1 {
    text-align: center;
}
