.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;

    .modal {
        font-size: 1.1rem;
        background-color: white;
        max-width: 60vh;
        width: 100%;
        position: relative;
        padding: 15px;
        border-radius: 10px;

        .close {
            position: absolute;
            line-height: 0;
            top: 10px;
            right: 10px;
            padding: 5px;
            font-size: 2rem;
        }

        .close:hover {
            background-color: rgba(170, 170, 170, 0.355);
            border-radius: 5px;
            cursor: pointer;
        }

        .headerwrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .imgwarp {
                padding-top: 2vh;
                width: 15vw;
                text-align: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            h1 {
                // padding-top: 1vh;
                font-size: 3rem;
                color: #f8bf02;
                font-weight: 700;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding-top: 2.5vh;
            margin-bottom: 2vh;

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .title {
                        margin-left: 5px;
                        font-size: large;
                    }
                }

                .input {
                    width: 23vw;
                    height: 7vh;
                    outline: none;
                    border: 1px solid rgb(181, 181, 181);
                    border-radius: 1vw;
                    padding-left: 0.8vw;
                    margin-top: 2vh;
                    font-size: large;
                    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                }

                .input:focus {
                    border: 1px solid rgba(248, 191, 2, 0.5);
                    box-shadow: 0 0 20px rgba(248, 191, 2, 0.4);
                }
            }

            .submit {
                width: 23vw;
                height: 8vh;
                background: #f8bf02;
                border: none;
                outline: none;
                border-radius: 30vw;
                cursor: pointer;
                font-size: 1.9rem;
                color: white;
                font-weight: 700;
                transition: all .2s ease-in-out;
                opacity: transition .2s;
                display: flex;
                justify-content: center;
                align-items: center;

                .loader {
                    pointer-events: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 4px solid transparent;
                    border-top-color: white;
                    animation: an1 1s ease infinite;
                }

                @keyframes an1 {
                    0% {
                        transform: rotate(0turn);
                    }

                    100% {
                        transform: rotate(1turn);
                    }
                }
            }

            .linkBtn_warp {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 2vh;
                column-gap: 3vh;

                .linkBtn {
                    background: none;
                    color: #f8bf02;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }

            .submit:hover {
                filter: brightness(80%);

            }
        }
    }

    .failMessage {
        font-size: 1.3rem;
        color: red;
        margin-bottom: 3vh;
        text-align: center;
        font-weight: 500;
    }
}

.open {
    display: flex;
}

h1 {
    text-align: center;
}