.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: white;
        width: 27%;
        height: 65%;
        position: relative;
        padding: 15px;
        border-radius: 10px;

        .close {
            position: absolute;
            line-height: 0;
            top: 10px;
            right: 10px;
            padding: 5px;
        }

        .close:hover {
            background-color: rgba(170, 170, 170, 0.355);
            border-radius: 5px;
            cursor: pointer;
        }

        .headerwrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .imgwarp {
                padding-top: 2vh;
                width: 15vw;
                text-align: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            h1 {
                // padding-top: 1vh;
                font-size: 3rem;
                color: rgb(248, 191, 2);
                font-weight: 700;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding-top: 2.5vh;

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .title {
                        margin-left: 5px;
                        font-size: large;
                    }
                }

                .input {
                    width: 23vw;
                    height: 7vh;
                    outline: none;
                    border: 1px solid rgb(181, 181, 181);
                    border-radius: 1vw;
                    padding-left: 0.8vw;
                    margin-top: 2vh;
                    font-size: large;
                }
            }

            .linkBtn {
                margin-top: 1vh;
                background: none;
                color: rgb(214, 190, 8);
                text-decoration: none;
                border: none;
                cursor: pointer;
                font-size: 1.5rem;
            }

            .submit {
                margin-top: 3vh;
                width: 23vw;
                height: 8vh;
                background: rgb(248, 191, 2);
                border: none;
                outline: none;
                border-radius: 30vw;
                cursor: pointer;
                font-size: 1.9rem;
                color: white;
                font-weight: 700;
            }

            .submit:hover {
                filter: brightness(80%);
                transition: all .2s ease-in-out;
            }
        }
    }
}

.open {
    display: flex;
}

h1 {
    text-align: center;
}