.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 1000;

    &.open {
        visibility: visible;
        opacity: 1;
        transform: scale(1);

        svg {
            position: fixed;
            top: 10px;
            right: 10px;
            width: 3rem;
            height: 3rem;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            cursor: pointer;
        }
    }

    img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: block;
        line-height: 0;
        box-sizing: border-box;
        padding: 5px 0 5px;
        margin: 0 auto;
    }
}

.container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    overflow: hidden;
    padding: 1.5vh 1.8vw;
    margin: 5vh 0;

    .galleryItem {
        position: relative;

        .image {
            cursor: zoom-in;
            margin-bottom: 1.8vw;
            filter: brightness(100%);

            img {
                border-radius: 2vw;
            }

            .name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 0;
                background-color: rgba(0, 0, 0, 0.4);
                color: white;
                position: absolute;
                bottom: 0px;
                left: 0px;
                font-size: 1.6vw;
                font-weight: 500;
                padding: 1vh 2vw;
                border-bottom-left-radius: 2vw;
                border-bottom-right-radius: 2vw;
                overflow: hidden;
                transition: all .2s ease-in-out;
                transform: rotate(0deg)skewX(0deg);
                opacity: 0;
            }
        }

        .image:hover .name {
            height: 20%;
            opacity: 1;
        }
    }
}

@media (max-width: 991px) {
    .container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}