.container {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: hidden;

    .animal_profile {
        position: absolute;
        top: 0;
        left: 20vw;
        width: 80vw;
        height: 100vh;
        transition: all 0.5s ease-in-out;

        .entity {
            img {
                max-width: 100vw;
                height: 70vh;
                margin: 0 auto;
                bottom: 15vh;
                right: 20%;
                position: absolute;
                filter: drop-shadow(1vw 2vw 4vw black);
            }
        }
    }
}