.container {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: hidden;

    .animal_profile {
        position: absolute;
        top: 0;
        left: 20vw;
        width: 80vw;
        height: 100vh;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        .entity {
            img {
                max-width: 100vw;
                height: 70vh;
                margin: 0 auto;
                bottom: 15vh;
                right: 20%;
                position: absolute;
                filter: drop-shadow(1vw 2vw 4vw black);
            }
        }
    }

    .animal_list {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 25vh;
        background: rgba(204, 204, 204, 0.1);
    }
}