.overlay {
    // position: fixed;
    // background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .container {
        background-color: rgb(238, 238, 238);
        max-width: 60vh;
        width: 100%;
        position: relative;
        padding: 2vh 5vh;
        border-radius: 10px;
        font-size: 1.1rem;

        .close {
            position: absolute;
            line-height: 0;
            top: 10px;
            right: 15px;
            padding: 5px;
            font-size: 2rem;
        }

        .close:hover {
            background-color: rgba(170, 170, 170, 0.355);
            border-radius: 5px;
            cursor: pointer;
        }

        h1 {
            font-size: 2rem;
            color: rgb(248, 191, 2);
            text-align: center;
            font-weight: 600;
            text-align: left;
        }

        .form {
            margin-top: 1vh;

            .submit {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .btnCancel,
                .btnSearch {
                    width: 13vh;
                    height: 5vh;
                    background: rgb(248, 191, 2);
                    border: none;
                    outline: none;
                    border-radius: 12px;
                    cursor: pointer;
                    font-size: 1.1rem;
                    color: white;
                    font-weight: 700;
                    margin: 3vh 0 0 2vh;
                    transition: all .2s ease-in-out;
                    opacity: transition .2s;
                }

                .btnCancel {
                    background-color: rgb(232, 232, 232);
                    color: rgb(106, 106, 106);
                }

                .btnCancel:hover,
                .btnSearch:hover {
                    filter: brightness(80%);

                }
            }
        }
    }
}