.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    // -webkit-column-width: 33%;
    // -moz-column-width: 33%;
    // column-width: 33%;
    overflow: hidden;
    padding: 1.5vh 1.8vw;

    .image {
        cursor: zoom-in;
        margin-bottom: 1.8vw;
        filter: brightness(100%);

        img {
            border-radius: 2vw;
        }
    }

    .image:hover {
        filter: brightness(70%);
        transition: all 0.15s ease;

    }

}

@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


// .model {
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: black;
//     transition: opacity 0.4s ease, visibility 0.4 ease, transform 0.5 ease-in-out;
//     visibility: hidden;
//     opacity: 0;
//     transform: scale(0);
//     overflow: hidden;
//     z-index: 999;

//     .open {
//         visibility: visible;
//         opacity: 1;


//     }

//     img {
//         width: auto;
//         max-width: 100%;
//         height: auto;
//         display: block;
//         line-height: 0;
//         box-sizing: border-box;
//         padding: 20px 0 20px;
//         margin: 0 auto;
//     }

// }