.container {
    // padding-top: 100px;

    .banner--container {
        width: 100%;
        height: 370px;
        position: relative;

        .banner--text {
            position: absolute;
            z-index: 10;
            color: white;
            text-align: center;
            left: 45%;
            top: 40%;
            text-align: center;
            .banner--title {
                font-weight: 600;
                text-transform: capitalize;
                font-size: 55px;
                line-height: 65px;
            }
            .banner--nav {
                display: flex;
                .banner--nav--home {
                    display: flex;
                    color: #d0d0bb;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    transition: color 0.2s ease-in-out;
                    .nav--home--icon {
                        padding-right: 8px;
                    }
                }
                .banner--nav--home:hover {
                    color: var(--primary--button);
                }
                .line {
                    height: 14px;
                    width: 2px;
                    margin: 4px 12px;
                    background: #d0d0bb;
                }
                .nav--cur {
                    color: var(--primary--button);
                }
            }
        }
    }

    .overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.38);
        z-index: 2;
        cursor: pointer;
    }
}
