.background {
    background-image: url('../../assets/img/news-background.png');
    width: auto;
    height: 100vh;
    filter: blur(7px);
    z-index: -1;
    position: relative;
}

.container {
    z-index: 1;
    position: absolute;
    top: 0px;
    width: 100%;

    .recommend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 705px;
        padding-top: 150px;
        margin: 0;
        position: relative;
        width: 1280px;
        left: 120px;
    }

    .category {
        margin-top: 38px;
        margin-left: 100px;
        list-style-type: none;

        .item {
            display: inline-block;
            min-width: 155px;
            height: 36px;
            line-height: 36px;
            background-color: rgba(57, 59, 64, 0.18);
            color: #393b40;
            border-radius: 4px;
            text-align: center;
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.2s 0s ease;

            background-color: #3b2525;
            color: #ffffff;
        }
    }

    .news {
        margin-top: 38px;
        list-style-type: none;
        height: auto;
        transition: all 0.5s 0s ease;

        .title {
            display: flex;
            flex-direction: row;
            border-left-color: #ffc000;
            position: relative;
            min-height: 170px;
            background-color: #e9cd9c;
            padding: 15px 20px;
            margin-bottom: 10px;
            border-radius: 4px;

            img {
                width: 265px;
                height: 140px;
                margin-right: 20px;

                object-fit: cover;
            }

            .info {
                width: calc(100% - 285px);

                .summary {
                    line-height: 22px;

                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    line-height: 22px;
                    color: #747272;
                    padding: 0 17px;
                    max-height: 88px;
                    overflow: hidden;
                    word-wrap: break-word;
                    white-space: normal;
                }
            }

            .meta {
                position: absolute;
                z-index: 1;
                bottom: 16px;
                right: 0;
                display: flex;
                justify-content: flex-end;
                width: 300px;
                padding: 0 20px;
                box-sizing: border-box;

                .date {
                    color: #747272;
                    display: inline-block;
                }

                .type {
                    width: auto;
                    text-decoration: none;
                    cursor: pointer;
                    margin-left: 56px;
                    color: rgb(59, 37, 37);
                }
            }
        }



    }
}