.news_container {
    position: relative;

}

.background {
    background-image: url('../../assets/img/news-background.png');
    background-size: 100vw 100vh;
    width: auto;
    height: 100vh;
    filter: blur(7px);
    z-index: -1;
}

.container {
    z-index: 1;
    top: 0px;
    width: 1280px;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    .recommend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin: auto;
    }
}

.news_list {
    .category {
        display: flex;
        justify-content: start;
        align-items: start;
        column-gap: 1px;
        margin: 40px 0 20px 40px;

        .item {
            display: inline-block;
            min-width: 155px;
            height: 36px;
            line-height: 36px;
            border-radius: 4px;
            text-align: center;
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.3s 0s ease;
            opacity: transition 0.3s;
            background-color: rgb(226, 226, 226);
            color: #161515;

            &:hover {
                background-color: #161515 !important;
                color: #f8bf02 !important;
            }
        }

        .searchBar {
            margin-left: 150px;
            display: flex;
            position: relative;

            input {
                padding: 7px;
                width: 500px;
                border: 1px solid #ccc;
                border-radius: 50px;
                outline: none;
            }

            input:focus,
            input:active {
                outline: yellow !important; // Reset browser's default focus outline
            }

            .searchIcon {
                position: absolute;
                left: 470px;
                top: 10px;
                /* Adjust the left position as needed */
                color: #333;
                font-size: 1.2rem;
                /* Adjust the color as needed */
                pointer-events: none;
            }
        }
    }



    .news {
        margin-top: 38px;
        list-style-type: none;
        height: auto;
        transition: all 0.5s 0s ease;
        padding-left: 100px;
        padding-right: 100px;

    }
}