.news_container {
    position: relative;

}

.background {
    background-image: url('../../assets/img/news-background.png');
    background-size: 100vw 100vh;
    width: auto;
    height: 100vh;
    filter: blur(7px);
    z-index: -1;
}

.container {
    z-index: 1;
    top: 0px;
    width: 1280px;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    .recommend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin: auto;
    }
}

.news_list {
    .category {
        margin-top: 38px;
        margin-left: 100px;
        list-style-type: none;

        .item {
            display: inline-block;
            min-width: 155px;
            height: 36px;
            line-height: 36px;
            // background-color: rgba(57, 59, 64, 0.18);
            // color: #393b40;
            border-radius: 4px;
            text-align: center;
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.3s 0s ease;
            // border: black 0.1px solid;
            opacity: transition 0.3s;
            background-color: rgb(226, 226, 226);
            color: #161515;
        }

        .item:hover,
        .item:focus {
            background-color: #161515;
            color: #f8bf02;
        }
    }

    .news {
        margin-top: 38px;
        list-style-type: none;
        height: auto;
        transition: all 0.5s 0s ease;
        padding-left: 100px;
        padding-right: 100px;

    }
}