.animal_wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    left: 5%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 25vh;
    background: rgba(204, 204, 204, 0.1);

    .card {
        display: flex;
        justify-content: center;
        align-items: center;


        .animal {
            color: white;
            user-select: none;
            overflow: hidden;
        }

        img {
            width: 8vw;
            height: 8vw;
            object-fit: cover;
            border: black 1vh solid;
            border-radius: 1vh;
            transition: all 0.5s;
        }

        img:hover {
            border: rgb(108, 108, 108) 1vh solid;
            border-radius: 1vh;
        }
    }
}

.arrow_right {
    position: absolute;
    width: 1vw;
    right: 3vw;
    opacity: 0.3;

    img {
        width: 5vw;
    }
}

.arrow_left {
    position: absolute;
    width: 1vw;
    left: -1vw;
    opacity: 0.3;

    img {
        width: 5vw;
    }
}