.container-content {
    position: relative;
    overflow: hidden;

    .content--text {
        position: absolute;
        z-index: 100 !important;
        top: 25%;
        text-align: center;
        width: 100vw;

        // line-height: 25px;
        // letter-spacing: 0px;
        // font-weight: 600;
        // font-size: 12px;
        .text--title {
            background-color: #fdd340;
            padding: 8px 24px;
            color: rgb(40, 47, 52);
            border-radius: 50px;
            text-align: center;
            display: inline-block;
        }

        .title {
            height: auto;
            width: auto;
            color: #565237;
            text-decoration: none;
            white-space: nowrap;
            min-height: 0px;
            min-width: 0px;
            max-height: none;
            max-width: none;
            text-align: center;
            line-height: 25px;
            letter-spacing: 0px;
            font-weight: 600;
            font-size: 16px;
            margin: 0;
        }

        .content {
            color: white;
            width: 100vw;

            p {
                z-index: 10;
                font-family: 'Crimson Pro';
                height: auto;
                width: auto;
                color: rgb(255, 255, 255);
                text-decoration: none;
                white-space: nowrap;
                width: 100vw;
                text-align: center;
                line-height: 130px;
                letter-spacing: 0px;
                font-weight: 600;
                font-size: 96px;
            }

            span {
                color: #fdd340;
            }
        }
    }

    .content--button {
        position: absolute;
        z-index: 100;
        top: 75%;
        width: 20vw;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        a {
            text-decoration: none;
            color: #fff;
            background-color: transparent;
            padding: 15px 32px;
            border-radius: 50px;
            border: 1.6px solid #fff;
            transition: all 0.2s ease;
        }
    }

    .content--button a:hover {
        color: #565237;
        background-color: #fdd340;
        border-color: #fdd340;
    }
}