/* .banner img {
    margin-top: 70px;
    width: 100%;
    height: 800px;
}
.banner {
    padding: 0 !important;
} */

/* .container-banner {
    margin-top: 70px;
    height: 800px;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
}

.indicator.active {
    color: #fff;
    background: #666;
}
button {
    position: absolute;
    top: 60%;
    right: 0;
    background: none;
    border-color: transparent;
    color: #fff;
    z-index: 1000;
    background-color: #fff;
    padding: 8px !important;
    border-radius: 50% !important;
    margin: 0;
    border-radius: 50%;
    transform: rotate(90deg);
}

div > button:nth-child(1) {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1000;
    display: block;
}
.each-slide {
    display: flex;
    position: absolute;
    width: fit-content;
    height: 400px;
}

.each-slide > .position-relative {
    position: relative;
    height: 800px;
    width: 100%;
}

.each-slide > div img {
    width: 100vw;
    height: 800px;
}

.each-slide .slide-text {
    width: 25%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
    position: absolute;
    top: 30%;
    left: 45%;
} */

.carousel-item {
    transition: opacity 1s ease-in-out !important;
}
li {
    transition: opacity 1s ease !important;
}

.banner--container {
    overflow: hidden;
}
.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.carousel-inner {
    width: 100vw;
    height: 100vh;
}
video {
    background-color: black;
    object-fit: cover;
}

.carousel-control-prev {
    height: 600px;
}
.carousel-control-next {
    height: 600px;
}

.player-wrapper {
    width: auto;
    height: auto;
}
.react-player {
    padding-top: 80%;
    position: relative;
}

.react-player > div {
    position: absolute;
}
.video-player > div {
    background-color: black !important;
}
.carousel-indicators {
    display: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}
