tr {
    .table_data {
        padding: 0 2vh;
        font-size: 1.2rem;
    }

    .table_total {
        padding: 0 2vh;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .table_img {
        img {
            width: 22vw;
            height: 25vh;
        }
    }
}