.imgbanner {
    background-image: url('../../../assets/img/t2.jpg');
}

// .container {
//     padding-top: 5vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
//     width: 85%;
//     margin: 0 auto;

// .progress {

//     .progress_bar {
//         background-color: var(--primary) !important;
//         height: 1px;
//         margin-bottom: calc((1rem + 1px)*-1);
//         max-width: 85%;
//         margin-right: auto;
//         margin-left: auto;
//     }

//     .row {
//         .col {
//             position: relative;
//             display: flex;
//             justify-content: space-around;

//             .first_step {
//                 .progress_number {
//                     display: block;
//                     width: 2rem;
//                     height: 2rem;
//                     margin: auto;
//                     text-align: center;
//                     line-height: calc(2rem - 4px);
//                     color: var(--primary);
//                     border: 1.5px solid var(--primary);
//                     border-radius: 50%;
//                     background-color: #fff;
//                 }

//                 .progress_title {
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }

//     .checkout_form {
//         width: 100%;

//         .container {
//             height: 100%;
//             width: 85%;

//             .row {
//                 width: 100%;
//                 margin-bottom: 1.5rem !important;
//                 display: flex;
//                 justify-content: space-around;

//                 .card {
//                     // width: 25vw;
//                     height: 21vh;
//                     width: 100%;
//                     margin-bottom: 20px;

//                     .card_header {
//                         background-color: var(--primary);
//                         background-size: auto;
//                         background-position: center top;
//                         height: 20%;
//                     }

//                     .card_body {
//                         padding: 1vh 3vh;
//                         margin: 0;
//                         background-color: #ffffff;
//                         height: 100%;

//                         .table_data {}
//                     }
//                 }
//             }
//         }
//     }

//     .checkout_summary {
//         --bs-gutter-x: 1.5rem;
//         --bs-gutter-y: 0;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         width: 100%;

//         .col {
//             width: 100%;

//             .card {
//                 width: 100%;
//                 margin-top: 5vh;

//                 .card_header {
//                     background-color: var(--primary);
//                     background-size: auto;
//                     background-position: center top;
//                 }

//                 .card_body {
//                     background-color: #fff;

//                     .table {
//                         width: 100%;
//                         border-collapse: collapse;

//                         .table_row {
//                             img {
//                                 width: 50%;
//                             }

//                             .table_data {}
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .card {
//         width: 85%;

//         .card_header {}

//         .card_body {
//             .radioContainer {
//                 position: relative;
//             }

//             .hiddenRadio {
//                 position: absolute;
//                 opacity: 0;
//             }

//             input:checked:after {
//                 display: block;
//             }


//         }
//     }

//     .btn {
//         width: 7vw;
//         height: 5vh;
//         text-align: center;
//         margin-top: 3vh;
//         margin-bottom: 2vh;
//         border: none;
//         outline: none;
//         border-radius: 3vw;
//         cursor: pointer;
//         font-size: 1.5rem;
//         color: white;
//         font-weight: 600;
//         background: rgb(248, 191, 2);
//     }

//     .btn:hover {
//         background-color: rgb(29, 28, 28);
//         color: rgb(248, 191, 2);
//         transition: all .2s ease-in-out;
//     }
// }



.container_checkout {
    // margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 10vh auto;

    .card {
        width: 70vw;

        .title {
            font-weight: bold;
            color: rgb(248, 191, 2);
            margin-bottom: 5vh;
        }

        .card_body {
            .table {
                width: 100%;
                border-collapse: collapse;

                .table_row {

                    th {
                        text-align: left;
                        padding: 1vh;
                        color: white;
                        background: rgb(248, 191, 2);
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .below {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 1.4rem;
        margin-top: 2vh;


        h2 {
            font-size: 1.6rem;
            color: rgb(248, 191, 2);
            font-weight: bold;
        }

        table {
            border-top: 4px solid rgb(248, 191, 2);
            width: 400px;

            tr {
                td {
                    padding: 1vh;
                }

            }

            .allTotal {
                font-weight: bold;
                color: rgb(248, 191, 2);

                td {
                    padding: 1vh;

                }
            }

            .submit {
                display: flex;
                justify-content: end;

                .btn {
                    width: 8vw;
                    height: 6vh;
                    text-align: center;
                    margin-top: 3vh;
                    margin-bottom: 2vh;
                    border: none;
                    outline: none;
                    border-radius: 3vw;
                    cursor: pointer;
                    font-size: 1.8rem;
                    color: white;
                    font-weight: 600;
                    background: rgb(248, 191, 2);
                    transition: all .2s ease-in-out;
                    opacity: transition .2s;
                }

                .btn:hover {
                    background-color: rgb(29, 28, 28);
                    color: rgb(248, 191, 2);

                }
            }
        }
    }
}