.news {
    margin-top: 160px;

    .news-container {
        .content {
            h3 {
                position: relative;
                margin: 183px auto 60px;
                font-size: 50px;
                font-weight: 400;
                text-align: center;
            }

            h3::before {
                content: '';
                position: absolute;
                top: 50%;
                width: 385px;
                height: 14px;
                background: url('../../../assets/img/title.png') no-repeat right center/cover;
            }

            .news-welcome {
                display: flex;
                padding: 0px 135px 0px 135px;
                flex-direction: column;

                .welcome {
                    border-left: 4px solid rgb(248, 191, 2);
                    margin-bottom: 16px;

                    p {
                        font-weight: 600;
                        text-transform: capitalize;
                        font-size: 17px;
                        line-height: 25px;
                        color: #171717;
                        padding-left: 12px;
                        margin: 0;
                        padding: 4px 0px 4px 12px;
                    }
                }

                .information--title {
                    margin-bottom: 40px;

                    h1 {
                        font-weight: 600;
                        font-size: 44px;
                        line-height: 58px;
                        color: #171717;
                        text-align: left;
                        margin-bottom: 16px;

                        span {
                            color: rgb(248, 191, 2);
                        }
                    }
                }
            }


            .all--news {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: 20px;

                .news--right {
                    padding: 35px 24px;
                    width: 640px;
                    margin: 0;
                    background: rgba(38, 18, 12, 0.62);
                    position: relative;

                    .news--tab--list {
                        border-bottom: 3px solid rgba(255, 255, 255, 0.1);

                        .tab--list--name {
                            display: inline-block;
                            color: #ffd49f;
                            padding: 0 19px 12px;
                            font-size: 18px;
                            cursor: pointer;
                            position: relative;
                        }

                        .tab--list--name::after {
                            position: absolute;
                            left: 0;
                            bottom: -13px;
                            display: block;
                            content: '';
                            width: 100%;
                            height: 3px;
                            background: #ffd49f;
                        }
                    }

                    .news--ul {
                        padding: 0;
                        margin: 0;

                        .news-obj:hover {
                            background-color: rgba(255, 212, 159, 0.06);
                        }

                        .news-obj {
                            list-style: none;
                            float: left;
                            border-bottom: 2px solid rgba(255, 255, 255, 0.08);

                            a {
                                text-decoration: none;
                                color: white;
                                display: flex;
                                align-items: center;
                                height: 50px;

                                .news-name {
                                    width: 480px;
                                    height: 20px;
                                    line-height: 20px;
                                    padding-left: 11px;
                                    margin-right: 12px;
                                    margin-top: 10px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    min-width: 385px;
                                    max-width: 385px;
                                }

                                .news-date {
                                    color: rgba(255, 255, 255, 0.35);
                                    font-size: 14px;
                                    height: 50px;
                                    margin-top: 10px;
                                    line-height: 50px;
                                }
                            }

                        }
                    }

                    .more-btn {
                        position: absolute;
                        bottom: 3%;
                        right: 10%;

                        a {
                            display: flex;
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.75);

                            svg {
                                padding: 2px;
                                border: 0.8px solid #fff;
                            }

                            p {
                                padding-left: 16px;
                                height: 22px;
                                line-height: 22px;
                                font-size: 18px;
                                color: rgba(255, 255, 255, 0.75);
                            }
                        }

                        a:hover {
                            color: rgba(255, 212, 159, 0.75);

                        }

                        a:hover p {
                            color: rgba(255, 212, 159, 0.75);

                        }

                        a:hover svg {
                            background-color: rgb(87 52 38);
                        }
                    }


                }
            }
        }
    }
}