.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .void {
        margin-left: -20px;
        margin-right: -20px;

        .col1 {
            padding-left: 100px;
            padding-right: 100px;
            vertical-align: top;

            .ce_header {
                margin-bottom: 30px;
                margin-top: 30px;

                .ce_headline {
                    font-size: 5.5rem;
                    line-height: 3.375rem;
                    letter-spacing: normal;
                    color: rgb(248, 191, 2);
                    text-align: center;
                    // font-size: 2.1875rem;
                    // line-height: 2rem;
                    // letter-spacing: -.03125rem;
                    // text-transform: none;
                }
            }

            .rte {
                padding: 0 100px;
                font-size: 2.25rem;
                line-height: 30px;
            }
        }

        .col {
            padding-left: 100px;
            padding-right: 100px;
            vertical-align: top;

            .header {
                margin-bottom: 35px;

                .headline {
                    font-size: 3rem;
                    line-height: 2rem;
                    text-align: left;
                    width: unset;
                }
            }

            .slider_waraper {
                position: relative;

                .swiper_warpper {
                    transform: translate3d(0px, 0px, 0px);
                    // margin-left: auto;
                    // margin-right: auto;
                    // position: relative;
                    // overflow: hidden;
                    // list-style: none;
                    // padding: 0;
                    // z-index: 1;
                    display: flex;
                    justify-content: center;

                    .card {
                        background-image: url('../../assets/animal/csm_Giraffe_f3fee01f91.jpg');
                        width: 568.5px;
                        margin-right: 23px;
                        height: 420px;

                        .link_cover {
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            display: block;
                            z-index: 20;
                        }

                        .content {
                            height: 100%;
                            position: relative;
                            z-index: 10;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;

                            .text_wrapper {
                                height: 70px;
                                width: 100%;

                                .text {
                                    width: 100%;
                                    height: 100%;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .row {
        justify-content: center !important;

        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;

        .col {
            flex: 1 0 0%;

            #artical_form {
                padding-bottom: 1.25rem;

                .card {
                    --bs-card-cap-padding-y: 0.75rem;
                    --bs-card-spacer-y: 1rem;
                    --bs-card-spacer-x: 1rem;
                    --bs-card-title-spacer-y: 0.5rem;
                    --bs-card-border-width: 1px;
                    --bs-card-border-color: var(--bs-border-color-translucent);
                    --bs-card-border-radius: 0.375rem;
                    --bs-card-box-shadow: ;
                    --bs-card-inner-border-radius: calc(0.375rem - 1px);
                    --bs-card-cap-padding-y: 0.5rem;
                    --bs-card-cap-padding-x: 1rem;
                    --bs-card-cap-bg: rgba(0, 0, 0, .03);
                    --bs-card-cap-color: ;
                    --bs-card-height: ;
                    --bs-card-color: ;
                    --bs-card-bg: #fbecdb;
                    --bs-card-img-overlay-padding: 1rem;
                    --bs-card-group-margin: 0.75rem;
                    word-wrap: break-word;
                    background-clip: border-box;
                    background-color: var(--bs-card-bg);
                    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-radius: var(--bs-card-border-radius);
                    display: flex;
                    height: var(--bs-card-height);
                    min-width: 0;
                    position: relative;
                    flex-direction: column;

                    .card_header {
                        background-color: #ffa500;

                        h5 {
                            text-transform: uppercase;
                            font-size: 2rem;
                            line-height: 4.5rem;
                            letter-spacing: .8;
                            font-family: "MyriadPro-Semibold", sans-serif;
                            font-weight: 700;
                            margin: 10px;
                            color: #ffffff;
                            ;
                        }
                    }

                    .table {
                        margin-left: calc(var(--bs-gutter-x)*.5);
                        margin-right: calc(var(--bs-gutter-x)*.5);
                        margin-bottom: 0;
                        width: auto;
                        color: #211000;
                        --bs-table-color: var(--bs-body-color);
                        --bs-table-bg: transparent;
                        --bs-table-border-color: var(--bs-border-color);
                        --bs-table-accent-bg: transparent;
                        --bs-table-striped-color: var(--bs-body-color);
                        --bs-table-striped-bg: rgba(0, 0, 0, .05);
                        --bs-table-active-color: var(--bs-body-color);
                        --bs-table-active-bg: rgba(0, 0, 0, .1);
                        --bs-table-hover-color: var(--bs-body-color);
                        --bs-table-hover-bg: rgba(0, 0, 0, .075);
                        border-color: var(--bs-table-border-color);
                        color: var(--bs-table-color);
                        margin-bottom: 1rem;
                        vertical-align: top;
                        width: 100%;

                        .tbody {
                            .table_row {
                                --bs-gutter-x: 1.5rem;
                                --bs-gutter-y: 0;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                margin-left: 50px;
                                margin-right: 50px;
                                margin-top: 30px;

                                .col_name {
                                    border-bottom-width: 1px;
                                    display: block;
                                    background-color: inherit;
                                    box-shadow: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}