.imgbanner {
    background-image: url('../../assets/img/t2.jpg');
}

.container {

    .title {
        height: 30vh;
        padding: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .welcome {
            font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
            font-weight: 550;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 25px;
            color: #171717;
            border-left: 4px solid rgb(248, 191, 2);
            padding-left: 1vh;
            margin-bottom: 5vh;
        }

        .welcome_description {
            font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
            font-weight: bolder;
            text-transform: capitalize;
            font-size: 35px;
            line-height: 25px;
            color: #171717;
        }
    }
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;

    .table {
        border: 1px solid #0c0c0c;
        background-image: url('../../assets/ticket/photo-1611418612389-3e442c6c8a26.jpg');
        background-size: cover;
        background-position: 20%;

        .total {
            text-align: center;
            font-size: large;
        }

        .table_row {
            border: 1px solid rgb(0, 0, 0);

            .price {
                text-align: center;
            }

            .table_header {
                background-color: rgb(248, 191, 2, 0.675);
                border: 1px solid rgb(0, 0, 0);
                padding: 5vh 7.5vw;
                font-weight: 600;
                font-size: x-large;
            }

            .table_data1 {
                text-align: center;
                border: 1px solid rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.1);
                font-size: larger;
                min-height: 100%;
                width: 50%;

                img {
                    width: 50%;
                }
            }

            .table_data {
                border: 1px solid rgb(0, 0, 0);
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.1);
                font-size: larger;
                text-align: center;
                color: #ffffff;

                .input {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    align-items: center;

                    .btn {
                        padding: 0px 10px;
                    }

                    .btn:hover {
                        cursor: pointer;
                        color: #b68d05;
                    }

                    .value {
                        text-align: center;
                        background-color: #000000;
                        width: 10%;
                        // height: 220%;
                        padding: 1vh 0;
                        border-radius: 20%;
                    }
                }
            }
        }
    }
}

.buy {
    display: flex;
    justify-content: center;
    margin: 3vh;

    .btn {
        padding: 15px 35px 14px 35px;
        border-radius: 2em;
        background-color: #f8bf02;
        color: #ffffff;
        text-decoration: inherit;
    }

    .btn:hover {
        cursor: pointer;
        background-color: #3b2525;
        color: #f8bf02;
    }
}