.container_error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);

    .loader {
        height: 100px;
        width: 100px;
        border: 8px solid rgb(248, 191, 2);
        border-radius: 50%;
        border-right-color: white;
        animation: spin 1s ease infinite;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
            /* Corrected the spelling of transform and added 'deg' */
        }
    }
}