.imgbanner {
    background-image: url('../../../assets/img/t2.jpg');
}

.container {
    margin: 5vh 5vw;
    font-size: 1.2rem;

    .title {
        margin-bottom: 4vh;
    }

    .thumbnailContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;

        img {
            max-width: 80vw;
        }
    }

    .date {
        margin-top: 20vh;
    }
}