@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --primary: rgba(128, 69, 0, 1);
    --color: white;
    --primary--button: #ee344e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    text-rendering: optimizeSpeed;
    background-color: rgb(253, 227, 197);
}
